
.container{
    position: fixed; 
    display: flex;
    top:50px;
    left:150px;
    justify-content: center;
    align-items: center;    
    height: 100%;
    width: 100%;
    z-index: 2;
    /* background-color:blue; */
}
.vid {
    width: 100%;
    height: 400px;;
}
.online-edito {
    position: relative;
    height:100%;
    z-index: 11;
}
.editor {
    height: 30%;
}
.download {
    height:20%;
}
  
