<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pull-left">
  <div class="leftMenu-panel pull-left">
    <ul>
      <li><a href="">Heading 1</a></li>
      <li><a href="">Heading 2</a></li>
      <li><a href="">Heading 3</a></li>
      <li><a href="">Heading 4</a></li>
      <li><a href="">Heading 5</a></li>
    </ul>
  </div>
</div> -->
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 leftMenu-section p-0 container-fluid">
 <!-- [style.width]="getStyle()" -->
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 leftMenu-panel p-0" >

      <ul *ngFor="let course of courses">
        <div *ngIf="coursename === course.courseName">
          <li *ngFor="let topics of course.topics; let i = index">
            <a [routerLink]="['../', coursename, topics.name]" (click)="storedata(topics.videoId, topics.editor.src)" 
            >{{topics.name}}</a></li>
        </div>
      </ul>
    </div>


    <!-- <div class="player" *ngIf="clicked">
     <router-outlet></router-outlet>
    </div> -->
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p-0 m-0">
    <router-outlet></router-outlet>
</div>
<!-- <div  class="col-lg-10 col-md-10 col-sm-10 col-xs-10 p-0 pull-left"> -->

<!-- </div> -->
<!-- (click)="play()" [routerLink]="['/course','c', dat.courseName]"
            [queryParams]="{watch: dat.courseName}"  -->
<!-- <div class class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 body-div pull-right">

</div>         -->