<section class="editor">
    <div class="onlineEditor-panel">
      <div ace-editor [(text)]="text" style="height:200px;"></div> 
      <select name="language" [(ngModel)]="selectedLanguage">
        <option *ngFor='let language of languageList' [ngValue]='language.id' >{{language.name}}</option>
      </select>
      <button (click)="submitData(text)">Submit</button>
      {{onlineCompilerService.codeResult}}</div>
  </section>
  <!-- <div class="online-editor">
    <div>
       
    <div ace-editor [(text)]="text" style="height:200px;"></div> 
    {{text}}
    <select name="language" [(ngModel)]="selectedLanguage">
            <option *ngFor='let language of languageList' [ngValue]='language.id' >{{language.name}}</option>
        </select>
    </div>
    <button (click)="submitData(text)">Submit</button>
    {{onlineCompilerService.codeResult}}
  </div> -->