.editor {
    margin-bottom: 51px;
    background-color: rgb(157, 186, 209);
    width: 100%;
}
.onlineEditor-panel{
    position: relative;

    display: inline-block;
    width: 100%;
}
.editorhead {
    display: flex;
    justify-content: right;
    background-color: red;
    padding: 5px;
}
.topbar {
    margin-bottom: 0px;
}
.drop {
    margin:15px;
}
.inputs {
    position: relative;
    padding:10px;
    background-color: rgb(179, 168, 168);
    border: 1px solid;
}